.navbar-brand-wrapper.d-flex.d-lg-none.align-items-center.justify-content-center
  a.navbar-brand.brand-logo-mini[href="index.html"]
    / = image_tag("plugin/logo-mini.svg")
    span.text-success tradelog
