@import 'abstract/_variables';
@import "font-awesome";



h1.page-title {
  font-size: 28px;
  font-weight: bold;
}
.sub-title {
  font-size: 20px;
  font-weight: bold;
}


.sub-title-with-border {
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid 1px;
  border-color: $borderColor;
}
.card-body hr {
  border-color: $borderColor;
}

.card.card-body-white-content {
  background-color: $backgroundColorDark;
  color: $textDark;
}

.layout-grid-view__right-320 {
  display: grid;
  grid-template-columns: 1fr 360px;

  .layout-grid-view__left-side {
    // Todo:...
  }

  .layout_grid-view__right-side {
    margin-left: 28px;
  }
}
